* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1f1f1f;
    color: #fff;
}
/* Hero Layout */
.hero {
  display: flex;
  padding: 0px;
  margin: 0%;
  border-radius: 0%;
  height: 90vh;
}

/* Left Image */
.hero-image {
  width: 50%;
  
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right Content */
.hero-content {
  width: 55%;
  background: #1f1f1f;
  color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.hero-content h2 {
  font-size: 28px;
line-height: 0.2;
}
.hero-content p {
  color:#ffffff; 
  margin-bottom:13px;
  text-align: start;
 
}
.hero-content p em {
  color:#f8f3f3;
  
  text-align: start;
 
}

.title-line {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-content h1 {
  font-size: 72px;
  line-height: 1.1;
}

.line {
  height: 2px;
  width: 150px;
  background: #999;
}

/* Paragraph */
.hero-content p {
  margin: 30px 0;
  font-size: 14px;
  color: #ccc;
  max-width: 500px;
}

/* Buttons */
.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.primary {
  background: white;
  color: black;
  font-weight: 600;
}

.secondary {
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.play-icon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 6px 10px;
  font-size: 10px;
}

/* Page Number */
.page-number {
  position: absolute;
  bottom: 40px;
  right: 60px;
  font-size: 12px;
  color: white;
}
