* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* Navbar */
header {
    background: #000;
    padding: 15px 50px;
    height: 60px;
    position: sticky;
       
    top: 0;
    z-index: 1000;
}

nav {
     display: flex;
    align-items: center;
 

}

.logo {
    color: #ffffff; 
}

nav ul {
    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
    justify-content:right;
    margin-left: auto;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
.menu-icon {
    margin-left: 20px;
    justify-content:right;
    font-size: 28px;
    color: white;
    cursor: pointer;
    
}
